{% extends sonata_block.templates.block_base %}

{% block block %}
{#
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
#}
{% if isLoggedIn %}
<div>
    <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
    <a href="{{ path('sonata_user_profile_show') }}">{{ 'title_user_account'|trans({}, 'SonataUserBundle') }}</a>
    <a href="{{ path('fos_user_security_logout') }}">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a>
</div>
{% else %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endif %}
{% endblock block %}
