{{ sonata_block_render({ 'type': 'app.block.user_login' }) }}
{% if not isLoggedIn %}
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Sign in with VK">Sign in with VK</a>
{% else %}

    <div id="chat">
        {% for message in messages %}
            {{ message.text | raw }}
        {% endfor %}
    </div>
    <div><input type="text" id="input"> <button id="submit">&rarr;</button></div>
    <script type="text/javascript">
        AUTOBAHN_DEBUG = true;
    </script>

    {{ clank_client() }}
    <script type="text/javascript">

        var chat = Clank.connect("ws://{{ host }}:8080");

        chat.on('socket/connect', function(session){

            session.subscribe('chat', function(uri, payload){
                console.log('Received:', payload);

                switch (payload.action) {
                    case 'messageNew':
                        $('#chat').append(payload.params.message);
                        break;

                    default:
                        break;
                }


            });

            $('#submit').click(function(){
                $input = $('#input');
                session.publish('chat', {action: 'messageNew', params: { message: $input.val() } });
                $input.val('');
            });


        });

        chat.on("socket/disconnect", function(error){
            //console.log("Disconnected for " + error.reason + " with code " + error.code);
        });

    </script>
{% endif %}