{{ sonata_block_render({ 'type': 'app.block.user_login' }) }}
{% if not isLoggedIn %}
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Sign in with VK">Sign in with VK</a>
{% else %}
    <div id="users"></div>
    <div id="chat">
        {% for message in messages %}
            {{ message.text | raw }}
        {% endfor %}
    </div>
    <div><input type="text" id="input"> <button id="submit">&rarr;</button></div>

    {{ clank_client() }}
    <script type="text/javascript">

        var chat = Clank.connect("ws://{{ host }}:8080");

        chat.on('socket/connect', function(session){

            session.subscribe('chat', function(uri, payload){
                //console.log('Received:', payload);

                switch (payload.action) {
                    case 'messageNew':
                        $('#chat').append(payload.params.message);
                        break;

                    case 'userList':
                        $('#users').html(payload.params.userList);
                        break;

                    case 'userAdd':
                        $('#users').append(payload.params.user);
                        break;

                    case 'userRemove':
                        $('#uid'+payload.params.userId).remove();
                        break;

                    default:
                        break;
                }
            });

            session.publish('chat', {action: 'userList'});

            var sendFunction = function () {
                $input = $('#input');
                if ($input.val()) {
                    session.publish('chat', {action: 'messageNew', params: { message: $input.val() } });
                    $input.val('');
                }
            }

            $('#submit').click(sendFunction);
            $('#input').keypress(function(event) {
                if (event.which == 13) {
                    event.preventDefault();
                    sendFunction();
                }
            });



        });

        chat.on("socket/disconnect", function(error){
            //console.log("Disconnected for " + error.reason + " with code " + error.code);
        });

    </script>
{% endif %}